<?xml version="1.0"?>
<!--
 * @category ScandiPWA
 * @package ScandiPWA\Installer
 * @author Ilja Lapkovskis <info@scandiweb.com / ilja@scandiweb.com>
 * @copyright Copyright (c) 2019 Scandiweb, Ltd (http://scandiweb.com)
 * @license Apache-2.0
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\View\Design\Theme\Validator" type="ScandiPWA\Installer\Theme\Validator"/>
    <preference for="Magento\Framework\Config\Theme" type="ScandiPWA\Installer\Theme\Config"/>
    <preference for="Magento\Theme\Model\Theme\Data\Collection" type="ScandiPWA\Installer\Theme\ThemeList"/>
    <preference for="Magento\Theme\Model\Theme\Registration" type="ScandiPWA\Installer\Theme\Registration"/>
    <preference for="Magento\Theme\Ui\Component\Theme\DataProvider\SearchResult"
                type="ScandiPWA\Installer\Theme\Ui\Component\DataProvider\SearchResult"/>
    <type name="Magento\Theme\Model\ResourceModel\Theme\Collection">
        <plugin name="ScandiPWA_Collection_Plugin" type="ScandiPWA\Installer\Theme\Plugin\CollectionPlugin"/>
    </type>
    <type name="ScandiPWA\Installer\Theme\Ui\Component\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">theme</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Theme\Model\ResourceModel\Theme</argument>
            <argument name="identifierName" xsi:type="string">theme_id</argument>
        </arguments>
    </type>
</config>
