<?xml version="1.0"?>
<!--
 * @category ScandiPWA
 * @package ScandiPWA\Installer
 * @author Ilja Lapkovskis <info@scandiweb.com / ilja@scandiweb.com>
 * @copyright Copyright (c) 2019 Scandiweb, Ltd (http://scandiweb.com)
 * @license Apache-2.0
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument
                    name="commands"
                    xsi:type="array">
                <item name="scandiweb_pwa_bootstrap"
                      xsi:type="object">
                    ScandiPWA\Installer\Console\Command\ThemeBootstrapCommand
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ConfirmationQuestionFactory" type="Symfony\Component\Console\Question\QuestionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">
                Symfony\Component\Console\Question\ConfirmationQuestion
            </argument>
        </arguments>
    </virtualType>
    <type name="ScandiPWA\Installer\Console\Command\ThemeBootstrap">
        <arguments>
            <argument name="question" xsi:type="object">ConfirmationQuestionFactory</argument>
        </arguments>
    </type>
    <type name="ScandiPWA\Installer\Console\Command\Bootstrap">
        <arguments>
            <argument name="copyQueue" xsi:type="array">
                <item name="1" xsi:type="string">package.json</item>
                <item name="2" xsi:type="string">src/config/</item>
                <item name="3" xsi:type="string">src/app/index.js</item>
                <item name="4" xsi:type="string">src/app/route/index.js</item>
                <item name="5" xsi:type="string">src/public/</item>
                <item name="6" xsi:type="string">src/app/style/main.scss</item>
                <item name="7" xsi:type="string">package-lock.json</item>
            </argument>
        </arguments>
    </type>
</config>
