<?xml version="1.0"?>
<!--
 * @category Scandiweb
 * @package ScandiPWA\Installer
 * @author Ilja Lapkovskis <info@scandiweb.com / ilja@scandiweb.com>
 * @copyright Copyright (c) 2019 Scandiweb, Ltd (http://scandiweb.com)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_Installer">
        <sequence>
            <module name="Magento_Theme" />
        </sequence>
    </module>
</config>
